<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<title>M07 Guestbook</title>
<link rel="stylesheet" href="/guestbook.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/normalize.min.css">
	<link rel="stylesheet" type="text/css" href="css/Order.css">
<!-- 	<link rel="stylesheet" type="text/css" href="css/Contact.css"> -->

</head>
<body class="container">
 <div class="header-container">
        <header class="wrapper clearfix">
            <h1 class="title" style="text-shadow: 4px 4px 4px #aaa;">Welcome to my Home Page</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/buyBook">ByBooks</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="#">Guest book</a></li>
                </ul>
        </nav>
        </header>
    </div>
<h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
